
/* Screen only */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Mobile only
 * No idea what the tablet, mobile, computer classes do.
 * Anyway it works for menu items for tablets, mobile, computers.
 * */
@media only screen and (min-width: 768px) {
  [class*="mobile only"],
  [class*="mobile only"]:not(.tablet),
  [class*="mobile only"]:not(.tablet),
  [class*="mobile only"]:not(.tablet),
  [class*="mobile only"]:not(.tablet) {
    display: none !important;
  }
}
